{% extends "base.html" %}

{% block content %}
<div>
    <h3 style="margin-left: 210px;"></h3>
    <h3 style="margin-left: 212px; float: left;">Pioneer CDJ-3000</h3>
    <h3 style="margin-left: 188px; float: left;">Pioneer DJM-900NXS2</h3>
    <div style="width: 220px; height: 300px; float: left; margin-top: 20px; margin-right: 190px; margin-left: 210px; margin-bottom: 40px;" >
      <a href="pioneercdj3000">
        <img src="static/pioneercdj300.jpg" class="gallery__img" alt="Image 1">
      </a>
    </div>
    <div style="width: 255px; height: 300px; margin-top: 20px; float: left; margin-right: 60px; margin-bottom: 40px;" >
      <a href="pioneerdjm900nxs2">
        <img src="static/pioneerdjm900nxs2.jpg" class="gallery__img" alt="Image 1">
      </a>
    </div>
    <h3 style="margin-left: 202px; float: left;">Novation Launchpad MK2</h3>
    <h3 style="margin-left: 95px; float: left;">Sennheiser HD-25</h3>
    <div style="width: 250px; height: 250px; float: left; margin-top: 30px; margin-right: 170px; margin-left: 200px;" >
      <a href="novationlaunchpadmk2">
        <img src="static/novationlaunchpadmk2.jpg" class="gallery__img" alt="Image 1">
      </a>
    </div>
    <div style="width: 300px; height: 300px;  float: left; margin-top: 30px; margin-right: 60px;" >
      <a href="sennheiserhd25">
        <img src="static/sennhiserhd25.jpg" class="gallery__img" alt="Image 1">
      </a>
    </div>
</div>
{% endblock %}