{% extends "base.html" %}

{% block content %}
    <p>  </p>
    <h1>Привет!</h1>
    <h3>Меня зовут Вася Пупкин.</h3>
    <h3>Добро пожаловать в мой блог.</h3>
    <p></p>
    <h3>Тут вы можете найти информацию о различном dj оборудовании, а также классную музыку и новости из моей карьеры.</h3>
    <p></p>
    <h3>Если вы хотите помочь мне в администрировании проекта, то оставьте свою заявку, нажав соответствующую кнопку в меню.</h3>
    <p></p>
    <h3>Связаться со мной можно через соц. сети, нажав соответствующую кнопку в меню.</h3>
    <p></p>
    <h2 style="margin-bottom: 181px;">Приятного изучения!</h2>
{% endblock %}