{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 20px;">Novation Launchpad MK2</h1>
    <h3>Novation Launchpad Mk2 это практичный компактный midi-контроллер для Ableton Live с матричной сеткой из 64 квадратных пэдов.
      Launchpad Mk2 приятно удивляет простотой инсталляции контроллера.
      Его невероятно просто подключить - вам не предстоить тратить время на установку драйвера, достаточно просто подсоединить провода и установить ПО, которое идет в комплекте с инструментом, как и USB-шнур.
      Launchpad Mk2 - это Midi-контроллер, специально созданный для live-выступлений.
      RGB-подсветка новых пэдов по цвету соответствует цвету клипов в Ableton Live, соответственно музыкант может видеть, какие клипы проигрываются в данный конкретный момент.
      Пэды радуют пользователей своей функциональностью.
      При их помощи также удобно управлять микшерным пультом, скажем, проигрывать или приостанавливать треки, изменять уровень громкости и другие настройки.
      Помимо вышеперечисленных квадратных пэдов лаунчпад оборудован 8 круглыми функциональными кнопками с предустановленными функциями и 8 круглыми назначаемыми кнопками, которые, в свою очередь также оснащены RGB-подсветкой.
    </h3>
    <h5>Источник: https://www.dj-store.ru/oborudovanie/klavishi/midi-kontrollery/16150_novation-launchpad-mk2.html</h5>


{% endblock %}