{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 20px;">Pioneer DJM-900NXS2</h1>
    <h3>Pioneer DJ DJM-900NXS2 — цифровой четырехканальный микшер.
      Модель оснащена 64-битным процессором, который способен обеспечить наиболее теплый, естественный и детальный звук.
      Микшер располагает секциями эффектов Sound Color FX и BeatFX, поддержкой DVS, и отличается высоким качеством сборки.
    </h3>
    <h5 style="margin-bottom: 356px;">Источник: https://www.dj-store.ru/oborudovanie/didzhejev/mikshery_pulty/19513_pioneer-djm-900nxs2.html</h5>


{% endblock %}