{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 20px;">Pioneer CDJ-3000</h1>
    <h3>Pioneer CDJ-3000 – диджейский медиапроигрыватель премиального сегмента.
        В данной модели пользователю доступно восемь кнопок Hot Cue, а также переключатели функций Beat Jump и Key Sync.
        Джог обеспечивает очень естественные тактильные ощущения, а задержка после касания сведена к минимуму.
        Навигация и управление параметрами стало легче благодаря новому яркому 9" тачскрину.
        Проигрыватель тесно интегрируется с программой rekordbox.
        Параметры сетки, назначение меток, тегов и редактирование плейлистов — все можно делать с помощью тачскрина.
        Предусмотрен и поиск в библиотеке треков по ключевым словам.
        CDJ-3000 работает с самыми разными файлами: читает FLAC MP3, AIFF, с флешек, HDD и даже напрямую с iOS-девайсов (через rekordbox).
        А протокол ProDJ Link позволяет объединить разные устройства Pioneer DJ в единую сеть.
        Вывод аудио возможен с помощью разъемов RCA и S/PDIF.
    </h3>
    <h5 style="margin-bottom: 87px;">Источник: https://www.dj-store.ru/oborudovanie/didzhejev/cd_proigryvateli/62873_pioneer-cdj-3000.html</h5>


{% endblock %}