{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 20px;">Sennheiser HD-25</h1>
    <h3>Sennheiser HD-25 - профессиональные динамические закрытые мониторные наушники.
        Малый вес наряду с  возможностью прослушивания одним ухом делают Sennheiser HD-25 незаменимыми для мобильного мониторинга.
        Внешний шум сильно ослабляется благодаря закрытому типу наушников.
        Наушники способны работать с очень высокими уровнями звукового давления.
        Имеют прочную конструкцию и отлично работают в шумных местах.
        Идеальные мониторные наушники для операторов телекамер и диджеев.
    </h3>
    <h5 style="margin-bottom: 289px;">Источник: https://www.dj-store.ru/oborudovanie/naushniki/naushniki/24028_sennheiser-hd-25.html</h5>


{% endblock %}